html(lang="en")
  head
    title= title
  body 

  h1 Mini Message Board

  p 
  a(href="/new") New Message 
  each message in messages 
    .message 
      h2= message.user
      p=message.text 
      p 
      small= message.added.toLocaleString()
  
